# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# IDE files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Test files
OrganizerTest/
TestFiles/